{% extends "base.html" %}
{% block start %}

<h2>Recipe Page</h2><br>

<form class= "col-6 mx-auto card p-3 shadow-lg" method= "post" enctype = "multipart/form-data">
    {% csrf_token %}
    <h2>Add Recipe</h2>
    <hr>
    <div class="rn">
    <label for="fname">Recipe name</label><br>
    <input name= "recipe_name" required type="text"><br>
    </div>

    <div class= "rd">
    <label for="lname">Recipe Description</label><br>
    <textarea class = "form-control" required name = "recipe_description"> </textarea>
    </div>

    <div class= "ri">
        <label for="lname">Recipe Image</label><br>
        <input name= "recipe_image" type="file">
        </div><br>
    <button type = "submit" class = "btn btn-success"> Add Recipe</button>

</form>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Recipe Description</th>
        <th scope="col">Recipe Image</th>
        <th scope ="col">Actions </th>
      </tr>
    </thead>
    <tbody>
        {% for res in Recipe %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{res.recipe_name}}</td>
        <td>{{res.recipe_description}}</td>
        <td>
          <img src = "/media/{{res.recipe_image}}" style="height : 100px"alt = "Recipe Image"></td>
        <td>
          <a href= "/delete_reipe/{{res.id}}/" class="btn btn-danger m-2">Delete </a><br>
          <a href= "/update_recipe/{{res.id}}/" class="btn btn-success"> Update</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="/"> Home </a>
| 
<a href="/contact/"> Contact </a>
| 
<a href="/about/"> About </a>


{% endblock %}
