<!DOCTYPE html> 
<html Lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content= "IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django  WorkSpace</title>
    <h1> Use </h1>
    <p>
        Django is a high-level web framework for building web 
        applications using the Python programming language. 
        It follows the model-view-controller (MVC) architectural 
        pattern, emphasizing the "Don't Repeat Yourself" (DRY) 
        and "Convention Over Configuration" principles.
    </p>
</head>
<body>
</body> 
</html>