{% extends "base.html" %}
{% block start %}

<p>This is Django Project, <br><h2><b>Home Page</b></h2><br></p>

<table class = "container">
    <tr>
      <th>Sr No</th>
      <th>Name </th> 
      <th>Age</th>
      <th> Can Vote?</th>
    </tr>
    {% for people in peoples %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{people.name}}</td> 
      <td>{{people.age}}</td>
      <td>
          {% if people.age > 18 %}
          👍
          {% else %}
          👎
          {% endif %}
        </td>
    </tr>
    {% endfor %}
  </table>
  
  <a href="/contact/"> Contact </a>
| 
<a href="/about/"> About </a>
|
<a href="/recipe/"> Recipe </a>

{% endblock %}
